 
<%= form_with model: @dependent do |form| %>
   
  <div class="col-sm-3">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
  <%= form.label :relation %><br>
  <%= form.text_field :relation %>
  </div>
<div>
<%= form.label :phone %><br>
<%= form.text_field :phone %>
</div>
<div>
<%= form.label :date_of_birth %><br>
<%= form.text_field :date_of_birth %>
</div>
<div>
<%= form.label :address %><br>
<%= form.text_field :address %>
</div>
  <div>
<%= form.label :cnic %><br>
<%= form.text_field :cnic %>
</div>
<div>
<%= form.label :nationality %><br>
<%= form.text_field :nationality %>
</div>
<div>
<div  class="form-group">
<%=form.hidden_field :user_id,  value:current_user.id %>
</div> <br>
 <%= form.submit value:"Save" %>
  </div>
<% end %>
