<br>
<div class="container">
   <%= form_with model: @dependent do |form| %>
   <!-- Gutter g-1 -->
   <div class="row g-1">
      <div class="col">
         <!-- Name input -->
         <div class="form-outline">
            <%= form.label :name %><br>
            <%= form.text_field :name,class:"form-control" %>
            <% @dependent.errors.full_messages_for(:name).each do |message| %>
            <div style="color: red"><%= message %></div>
            <% end %>
         </div>
      </div>
      <div class="col">
         <!-- Email input -->
         <div class="form-outline">
            <%= form.label :relation %><br>
            <%= form.text_field :relation ,class:"form-control"%>
            <% @dependent.errors.full_messages_for(:relation).each do |message| %>
            <div style="color: red"><%= message %></div>
            <% end %>
         </div>
      </div>
      <div class="col">
         <!-- Email input -->
         <div class="form-outline">
            <%= form.label :phone %><br>
            <%= form.text_field :phone ,class:"form-control"%>
            <% @dependent.errors.full_messages_for(:phone).each do |message| %>
            <div style="color: red"><%= message %></div>
            <% end %>
         </div>
      </div>
   </div>
   <!-- Gutter g-5 -->
   <div class="row g-5">
      <div class="col-md-3">
         <!-- Name input -->
         <div class="form-outline">
            <%= form.label :date_of_birth %><br>
            <%= form.text_field :date_of_birth ,class:"form-control"%>
            <% @dependent.errors.full_messages_for(:date_of_birth).each do |message| %>
            <div style="color: red"><%= message %></div>
            <% end %>
         </div>
      </div>
      <div class="col-md-3" >
         <!-- Email input -->
         <div class="form-outline">
            <%= form.label :address %><br>
            <%= form.text_field :address,class:"form-control" %>
            <% @dependent.errors.full_messages_for(:address).each do |message| %>
            <div style="color: red"><%= message %></div>
            <% end %>
         </div>
      </div>
      <div  class="col-md-3" >
         <!-- Email input -->
         <div class="form-outline">
            <%= form.label :cnic %><br>
            <%= form.text_field :cnic ,class:"form-control"%>
            <% @dependent.errors.full_messages_for(:cnic).each do |message| %>
            <div style="color: red"><%= message %></div>
            <% end %>
         </div>
      </div>
      <div class="col-md-3" >
         <!-- Email input -->
         <div class="form-outline">
            <%= form.label :nationality %><br>
            <%= form.text_field :nationality ,class:"form-control"%>
            <% @dependent.errors.full_messages_for(:nationality).each do |message| %>
            <div style="color: red"><%= message %></div>
            <% end %>
         </div>
      </div>
   </div>
   <div  class="form-group">
      <%=form.hidden_field :user_id,  value:current_user.id %>
   </div>
   <br>
   <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-7">
         <button type="button" class=" text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">	<%= form.submit %>
         </button>
      </div>
   </div>
   <% end %>
</div>