<style>
.w-11 {
  width: 12.75rem;
}
.labels{
  margin-bottom: 7px;
  margin-top: 5px;
}
.signuplink{
  color: green;
  font-weight: bold;
  fornt-size: large;
}
</style>
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-11 h-8 mr-2"   src="https://www.easypayfinance.com/wp-content/uploads/2018/06/ep-one-tone-uo.png" alt="logo">
                
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1  style="text-align:center;" class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                 Log in
              </h1>
 
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>
                <div class="field">
                  <%= f.label :email, class:"labels"%><br>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", required: true %>
                </div>
              
                <div class="field">
                  <%= f.label :password, class:"labels" %><br />
                  <%= f.password_field :password, autocomplete: "current-password", class:"form-control ", required: true  %>
                </div>
              
                
              <br>
                <div class="actions">
                <button type="submit" style="width: 384px;" class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Sign in</button>

                </div>
                <br>
                
               
               <div class="flex items-center justify-between">
              <div class="flex items-start">
                  <div class="flex items-center h-5">
                   </div>
                  <div class="ml-3 text-sm">
                    <label for="remember" class="text-gray-500 dark:text-gray-300"><% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end %></label>
                  </div>
              </div>
              
          </div>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400" style="margin-left: 12px;">
          <br>
              Don’t have an account yet ? <%= link_to "Sign up", new_registration_path(resource_name), class:"signuplink"%>
              <% end %>
              
          </p>
          </div>
      </div>
  </div>
</section>