<div class="container">
<h2 style="background-color: cornflowerblue;">My Bills</h2>
<table border="1"  style="width: -webkit-fill-available;">   
  <tr>   
    <th>Sr. #</th>
    <th>Amount</th>   
    <th>Late_Fee</th>   
    <th>Reading Date</th>
    <th>Issuance Date</th>
    <th>Due Date</th> 
    <th>Status</th>   
  </tr>
  <% @bills.each_with_index do |bill, index| %>
    <tr>
      <td><%= index +1 %></td>
      <td><%= bill.amount %></td>
      <td><%= bill.late_fee %></td>
      <td><%= bill.reading_date %></td>
      <td><%= bill.issuance_date %></td>
      <td><%= bill.due_date %></td>
      <td><button class="btn btn-secondary"><%= bill.status %></td></button></td>
    </tr> 
  <% end %>   
</table> 
</div>
 