<style>
.form-control{
  width: 332px !important;
}
.right{
  margin-left: 240px;
  margin-bottom: -1px;
}
.headingtable{
  background-color:greenyellow;
   height:50px;
   font-size: 27px;
   color: grey;
   

 }
 ..bg-blue-700 {
  --tw-bg-opacity: 1;
  background-color: green !important;
}
</style>
<div class="container">
  <div>
      <div class="row">
    <div class="col-md-6">
      
    </div>
    <div class="col-md-3">
      
    </div>
    <div class="col-md-3">
       
      <br>
    </div>
  </div>
  </div>
<h2 class="headingtable"><%= link_to'My Bills',bills_url %></h2>
    
   <br>
 
   
<div class="row">
<div class="col-md-9">
</div>
<div class="col-md-3">
<form>   
   <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
   <div class="relative">
       <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
           <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
       </div>
       <%= text_field_tag :search, params[:search],class:"form-control"%>
        <button style="  background-color: green !important;
        " type="submit" class="text-white absolute right bottom-0.5  hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
   </div>
</form>
  </div>
</div>
<br>
<div class="row">
<div class="col-md-10">
</div>
<div class="col-md-2">
       <%= button_to'Add New Bill', new_bill_url, class:"text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2", :method => :get %>
 </div>
</div>
<table class="table table-striped table-bordered"  style="width: -webkit-fill-available;">   
  <tr>   
    <th >Sr. #</th>
    <th>Amount</th>   
    <th>Billing Month </th>
    <th>Late_Fee</th>   
    <th>Reading Date</th>
    <th>Issuance Date</th>
    <th>Due Date</th> 
    <th>Status</th>   
  </tr>
  <% @bills.each_with_index do |bill, index| %>
    <tr>
      <td><%= index +1 %></td>
       <td><a href="/bills/<%= bill.id %>"><%= bill.amount %></a></td>
      <td><%= bill.billing_month %></td>
      <td><%= bill.late_fee %></td>
      <td><%= bill.reading_date %></td>
      <td><%= bill.issuance_date %></td>
      <td><%= bill.due_date %></td>
      <td> 
 
      <% if (bill.status == "Unpaid") || (bill.status == "Pending") %>
       <button class="btn btn-danger"> 
        <%= link_to (bill.status), pay_bills_path(id:bill.id), data: {turbo_method: :post,turbo_confirm: "Are you sure?"} %>
       </button>
      <% else %>
      <button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" >
      <%= link_to'Paid' , root_path %>
      </button>
           <%= link_to raw("<i class=\"material-icons\">delete</i>"), bill_path(bill.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> 
      </button>
      <% end %>
      </td>
    </tr> 
  <% end %>   
</table> 
</div>
 