<div class="container">
  <div>
      <div class="row">
    <div class="col-md-6">
      
    </div>
    <div class="col-md-3">
      
    </div>
    <div class="col-md-3">
      <button class="btn btn-dark marg" style="background-color:lightskyblue;margin-bottom:20px;margin-left: 6px;">
      <%= link_to'Add New Bill', new_bill_url %>
      </button>
      <br>
    </div>
  </div>
  </div>
<h2 style="background-color: cornflowerblue;">My Bills</h2>
 
 
<table class="table table-striped table-bordered"  style="width: -webkit-fill-available;">   
  <tr>   
    <th >Sr. #</th>
    <th>Amount</th>   
    <th>Billing Month </th>
    <th>Late_Fee</th>   
    <th>Reading Date</th>
    <th>Issuance Date</th>
    <th>Due Date</th> 
    <th>Status</th>   
  </tr>
  <% @bills.each_with_index do |bill, index| %>
    <tr>
      <td><%= index +1 %></td>
       <td><a href="/bills/<%= bill.id %>"><%= bill.amount %></a></td>
      <td><%= bill.billing_month %></td>
      <td><%= bill.late_fee %></td>
      <td><%= bill.reading_date %></td>
      <td><%= bill.issuance_date %></td>
      <td><%= bill.due_date %></td>
      <td> 
      <% if bill.status == "unpaid" %>
       <button class="btn btn-danger"> 
        <%= link_to "pay now", pay_bills_path(id:bill.id), data: {turbo_method: :post,turbo_confirm: "Are you sure?"}%>
       </button>
      <% else %>
      <button class="btn btn-info" >
      <%= link_to'Paid' , root_path %>
      </button>
      <% end %>
      </td>
    </tr> 
  <% end %>   
</table> 
</div>
 