<div class="container">
<h2 style="background-color: cornflowerblue;">My Bills</h2>
 
 
<table border="1"  style="width: -webkit-fill-available;">   
  <tr>   
    <th>Sr. #</th>
    <th>Amount</th>   
    <th>Billing Month </th>
    <th>Late_Fee</th>   
    <th>Reading Date</th>
    <th>Issuance Date</th>
    <th>Due Date</th> 
    <th>Status</th>   
  </tr>
  <% @bills.each_with_index do |bill, index| %>
    <tr>
      <td><%= index +1 %></td>
      <td><%= bill.amount %></td>
      <td><%= bill.billing_month %></td>
      <td><%= bill.late_fee %></td>
      <td><%= bill.reading_date %></td>
      <td><%= bill.issuance_date %></td>
      <td><%= bill.due_date %></td>
      <td> 
      <% if bill.status == "unpaid" %>
       <button class="btn btn-danger"> 
        <%= link_to "pay now", pay_bills_path(id:bill.id), data: {turbo_method: :post,turbo_confirm: "Are you sure?"}%>
       </button>
      <% else %>
      <button class="btn btn-info" >
      <%= link_to'Paid' , root_path %>
      </button>
      <% end %>
      </td>
    </tr> 
  <% end %>   
</table> 
</div>
 