<div id="<%= dom_id contact_information %>">
  <p>
    <strong>Mobile:</strong>
    <%= contact_information.mobile %>
  </p>

  <p>
    <strong>Residence phone:</strong>
    <%= contact_information.residence_phone %>
  </p>

  <p>
    <strong>Coordinator:</strong>
    <%= contact_information.coordinator %>
  </p>

  <p>
    <strong>Office phone string:</strong>
    <%= contact_information.office_phone %>
  </p>

  <p>
    <strong>Personal email:</strong>
    <%= contact_information.personal_email %>
  </p>

  <p>
    <strong>Email offical:</strong>
    <%= contact_information.email_offical %>
  </p>

</div>
