 
<%= form_with model: @personal_information do |form| %>
  <div>
  <div class="form-control">
  <%= form.file_field :image %>
  </div>
  <div class="col-sm-3">
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </div>
  <div>
  <%= form.label :last_name %><br>
  <%= form.text_field :last_name %>
  </div>
<div>
<%= form.label :date_of_birth %><br>
<%= form.text_field :date_of_birth %>
</div>
<div>
<%= form.label :marital_status %><br>
<%= form.text_field :marital_status %>
</div>
<div>
<%= form.label :religion %><br>
<%= form.text_field :religion %>
</div>
  <div>
<%= form.label :cnic %><br>
<%= form.text_field :cnic %>
</div>
<div>
<%= form.label :project %><br>
<%= form.text_field :project %>
</div>
<div>
<%= form.label :departemnt %><br>
<%= form.text_field :department %>
</div>
<div>
<%= form.label :employment_type %><br>
<%= form.text_field :employment_type %>
</div>
<div>
<%= form.label :date_of_joining %><br>
<%= form.text_field :date_of_joining %>
</div>
<div>
<%= form.label :employee_code %><br>
<%= form.text_field :employee_code %>
</div>
<div>
<%= form.label :designation %><br>
<%= form.text_field :designation %>
</div>
    <%= form.submit %>
  </div>
<% end %>
