 
<style>
.fa-5x {
    font-size: 2em;
    margin-left: 15px;
}

</style>
<div class= "container">
<div class= "row">
<div class = "col-md-11">
</div>
<div class = "col-md-1">
<%= link_to raw("<i class=\"material-icons\">edit</i>"), edit_contact_information_path(@contact_information) %>

</div>
</div>
<div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6 ">
                <i class="fa fa-phone fa-5x mb-3 text-center" aria-hidden="true"></i>
                <h4 class="text-uppercase mb-5">Mobile</h4>                </th>
                <th scope="col" class="py-3 px-6">
                <i class="fa fa-home fa-5x mb-3" aria-hidden="true"></i>
                <h4 class="text-uppercase mb-5">Residence Phone</h4>
                </th>
                <th scope="col" class="py-3 px-6">
                <i class="fa fa-user fa-5x mb-3" aria-hidden="true"></i>
                <h4 class="text-uppercase mb-5">Coordinator</h4>
                </th>
                <th scope="col" class="py-3 px-6">
                <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                <h4 class="text-uppercase mb-5">Official Email</h4>
                </th>
                <th scope="col" class="py-3 px-6">
                <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                <h4 class="text-uppercase mb-5">Personal Email</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
               
                <td class="py-4 px-6">
                <p><%= contact_information.mobile%></p>
                </td>
                <td class="py-4 px-6">
                <p><%= contact_information.residence_phone%></p>
                </td>
                <td class="py-4 px-6">
                <p><%= contact_information.coordinator %></p>
                </td>
                <td class="py-4 px-6">
                <p><%= contact_information.email_offical %></p>
                </td>
                <td class="py-4 px-6">
                <p><%= contact_information.personal_email %></p>
                </td>
             
            </tr>
       
           
        </tbody>
    </table>
</div>

</div>

