 <br>
<div class="container">
	<div class="row">
		<%= form_with model: @bill do |form| %>
			<div class="row">
				<div class="col">
					<%= form.label :amount %>
						<%= form.text_field :amount, class: "form-control", required: true %>
							<% @bill.errors.full_messages_for(:amount).each do |message| %>
								<div style="color: red">
									<%= message %>
								</div>
								<% end %>
				</div>
				<div class="col">
					<%= form.label :late_fee %>
						<%= form.text_field :late_fee, class: "form-control", required: true %>
							<% @bill.errors.full_messages_for(:late_fee).each do |message| %>
								<div style="color: red">
									<%= message %>
								</div>
								<% end %>
				</div>
				<div class="col">
					<%= form.label :billing_month %>
						<%= form.select :billing_month, Bill.billing_months.keys, { prompt: true }, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
							<% @bill.errors.full_messages_for(:billing_month).each do |message| %>
								<div style="color: red">
									<%= message %>
								</div>
								<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<%= form.label :reading_date %>
						<%= form.date_field :reading_date, class: "form-control", required: true %>
							<% @bill.errors.full_messages_for(:reading_date).each do |message| %>
								<div style="color: red">
									<%= message %>
								</div>
								<% end %>
				</div>
				<div class="col">
					<%= form.label :issuance_date %>
						<%= form.date_field :issuance_date, class: "form-control", required: true %>
							<% @bill.errors.full_messages_for(:issuance_date).each do |message| %>
								<div style="color: red">
									<%= message %>
								</div>
								<% end %>
				</div>
				<div class="col">
					<%= form.label :due_date %>
						<%= form.date_field :due_date, class: "form-control", required: true %>
							<% @bill.errors.full_messages_for(:due_date).each do |message| %>
								<div style="color: red">
									<%= message %>
								</div>
								<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<%= form.label :utility_bill_id %>
						<%= form.collection_select :utility_bill_id, UtilityBill.all, :id, :nickname, { prompt: true }, class: "form-control" %>
							<% @bill.errors.full_messages_for(:utility_bill_id).each do |message| %>
								<div style="color: red">
									<%= message %>
								</div>
								<% end %>
				</div>
				<div class="col block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400 ">
					<label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Select Status</label>
					<%= form.select :status, Bill.statuses.keys, { prompt: true }, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
						<% @bill.errors.full_messages_for(:status).each do |message| %>
							<div style="color: red">
								<%= message %>
							</div>
							<% end %>
				</div>
			</div>
			<div class="col-md-6">
				<%= form.hidden_field :user_id, value: current_user.id %>
			</div>
			<div class="col-md-6"> </div>
			<br>
			<div class="row">
				<div class="col-md-5"> </div>
				<div class="col-md-7">
					<button type="button" class=" text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
						<%= form.submit %>
					</button>
				</div>
			</div>
			<% end %>
	</div>
</div>
</div>