<div class="container">
	<div class="row">
		<%= form_with model:@bill do |form| %>
		<div class="col-md-6">
			<%= form.label :amount %>
			<%= form.text_field :amount,class:"form-control"%>
		</div>
		<div class="col-md-6">
			<%= form.label :late_fee %>
			<%= form.text_field :late_fee,class:"form-control"%></div>
			<div class="col-md-6">
				<%= form.label :billing_month %>
				<%= form.text_field :billing_month,class:"form-control"%>
			</div>
			<div class="col-md-6">
				<%= form.label :reading_date %>
				<%= form.date_field  :reading_date, class:"form-control"%>
			</div>
			<div class="col-md-6">
				<%= form.label :issuance_date %>
				<%= form.date_field :issuance_date, class:"form-control" %>
			</div>
			<div class="col-md-6">
			<%= form.label :due_date %>
			<%= form.date_field :due_date,class:"form-control" %>
			</div>
			<div class="col-md-6">
       <%= form.select :status, options_for_select(Bill.statuses.keys), class:"form-control" %>
      </div>
      <div class="col-md-6">
 	      <%= form.hidden_field :user_id, value:current_user.id %>
      </div>
      <div class="col-md-6">
        <%= form.label :utility_bill_id %>
      <%= form.collection_select :utility_bill_id, UtilityBill.all, :id, :nickname, {prompt: true}, class:"form-control" %>
      </div>
            <br>
      <div class="form-group">
	    <%= form.submit class:"btn btn-primary" %>
			</div> 
      <% end %>
	</div>
</div>
<%= link_to'Back to home', root_path %>
