 
<%= form_with model: @personal_information do |form| %>
  <div>
  <div class="form-control">
  <%= form.file_field :image %>
  </div>
  <div >
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name, class:"form-control"%>
  </div>
  <div>
  <%= form.label :last_name %><br>
  <%= form.text_field :last_name, class:"form-control"%>
  </div>
<div>
<%= form.label :date_of_birth %><br>
<%= form.text_field :date_of_birth, class:"form-control" %>
</div>
<div>
<%= form.label :marital_status %><br>
<%= form.text_field :marital_status, class:"form-control" %>
</div>
<div>
<%= form.label :religion %><br>
<%= form.text_field :religion, class:"form-control" %>
</div>
  <div>
<%= form.label :cnic %><br>
<%= form.text_field :cnic, class:"form-control" %>
</div>
<div>
<%= form.label :project %><br>
<%= form.text_field :project, class:"form-control" %>
</div>
<div>
<%= form.label :departemnt %><br>
<%= form.text_field :department, class:"form-control" %>
</div>
<div>
<%= form.label :employment_type %><br>
<%= form.text_field :employment_type, class:"form-control" %>
</div>
<div>
<%= form.label :date_of_joining %><br>
<%= form.text_field :date_of_joining, class:"form-control" %>
</div>
<div>
<%= form.label :employee_code %><br>
<%= form.text_field :employee_code, class:"form-control" %>
</div>
<div>
<%= form.label :designation %><br>
<%= form.text_field :designation, class:"form-control" %>
</div>
<br>
</div>
<button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">	<%= form.submit %>

</button>

  </div>
<% end %>
