<div class="container">
  <div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
 
<%= form_with model: @personal_information do |form| %>
  <div>
  <div class="form-control">
  <%= form.file_field :image,  class:"form-control" %>
  </div>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name,  class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  %>
  </div>
  <div>
  <%= form.label :last_name %><br>
  <%= form.text_field :last_name, class:"form-control"  %>
  </div>
<div>
<%= form.label :date_of_birth %><br>
<%= form.date_field :date_of_birth,  class:"form-control"  %>
</div>
<div>
<%= form.select :marital_status, options_for_select(PersonalInformation.marital_statuses.keys), class:"form-control" %>
</div>
<div>

<%= form.select :religion, options_for_select(PersonalInformation.religions.keys), class:"form-control" %>
</div>
  <div>
<%= form.label :cnic %><br>
<%= form.text_field :cnic,  class:"form-control"  %>
</div>
<div>
<%= form.label :project %><br>
<%= form.text_field :project, class:"form-control"  %>
</div>
<div>
<%= form.label :departemnt %><br>
<%= form.text_field :department,  class:"form-control"  %>
</div>
<div class="dropdown">
<%= form.select :employment_type, options_for_select(PersonalInformation.employment_types.keys),   class:"dropdown-menu" %>
</div>
<div>
<%= form.label :date_of_joining %><br>
<%= form.date_field :date_of_joining,  class:"form-control"  %>
</div>
<div>
<%= form.label :employee_code %><br>
<%= form.text_field :employee_code, class:"form-control"  %>
</div>
<div>
<%= form.label :designation %><br>
<%= form.text_field :designation, class:"form-control"  %>
 
<div  class="form-group">
<%=form.hidden_field :user_id,  value:current_user.id %>
</div>
<div>
</div>
    <%= form.submit %>
  </div>
<% end %>
</div>
<div class="col-md-3">
  </div>
  <div>
</div>
