<div class="container">
  <div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
 
<%= form_with model: @personal_information do |form| %>
  <div>
  <div class="form-control">
  <%= form.file_field :image,  class:"form-control" %>
  <% @personal_information.errors.full_messages_for(:image).each do |message| %>
    <div style="color: red"><%= message %></div>
     <% end %>
  </div>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name,  class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  %>
    <% @personal_information.errors.full_messages_for(:first_name).each do |message| %>
      <div style="color: red"><%= message %></div>
       <% end %>
    </div>
  <div>
  <%= form.label :last_name %><br>
  <%= form.text_field :last_name, class:"form-control"  %>
  <% @personal_information.errors.full_messages_for(:last_name).each do |message| %>
    <div style="color: red"><%= message %></div>
     <% end %>
  </div>
<div>
<%= form.label :date_of_birth %><br>
<%= form.date_field :date_of_birth,  class:"form-control"  %>
<% @personal_information.errors.full_messages_for(:date_of_birth).each do |message| %>
  <div style="color: red"><%= message %></div>
   <% end %>
</div>
<div>
<%= form.select :marital_status, options_for_select(PersonalInformation.marital_statuses.keys), class:"form-select" %>
<% @personal_information.errors.full_messages_for(:marital_status).each do |message| %>
  <div style="color: red"><%= message %></div>
   <% end %>
</div>
<div>

<%= form.select :religion, options_for_select(PersonalInformation.religions.keys), class:"form-control" %>
<% @personal_information.errors.full_messages_for(:religion).each do |message| %>
  <div style="color: red"><%= message %></div>
   <% end %>
</div>
  <div>
<%= form.label :cnic %><br>
<%= form.text_field :cnic,  class:"form-control"  %>
<% @personal_information.errors.full_messages_for(:cnic).each do |message| %>
  <div style="color: red"><%= message %></div>
   <% end %>
</div>
<div>
<%= form.label :project %><br>
<%= form.text_field :project, class:"form-control"  %>
<% @personal_information.errors.full_messages_for(:project).each do |message| %>
  <div style="color: red"><%= message %></div>
   <% end %>
</div>
<div>
<%= form.label :departemnt %><br>
<%= form.text_field :department,  class:"form-control"  %>
<% @personal_information.errors.full_messages_for(:departemnt).each do |message| %>
  <div style="color: red"><%= message %></div>
   <% end %>
</div>
<div class="dropdown">
<%= form.select :employment_type, options_for_select(PersonalInformation.employment_types.keys),   class:"dropdown-menu" %>
<% @personal_information.errors.full_messages_for(:employment_type).each do |message| %>
  <div style="color: red"><%= message %></div>
   <% end %>
</div>
<div>
<%= form.label :date_of_joining %><br>
<%= form.date_field :date_of_joining,  class:"form-control"  %>
<% @personal_information.errors.full_messages_for(:date_of_joining).each do |message| %>
  <div style="color: red"><%= message %></div>
   <% end %>
</div>
<div>
<%= form.label :employee_code %><br>
<%= form.text_field :employee_code, class:"form-control"  %>
<% @personal_information.errors.full_messages_for(:employee_code).each do |message| %>
  <div style="color: red"><%= message %></div>
   <% end %>
</div>
<div>
<%= form.label :designation %><br>
<%= form.text_field :designation, class:"form-control"  %>
<% @personal_information.errors.full_messages_for(:designation).each do |message| %>
  <div style="color: red"><%= message %></div>
   <% end %>
 
<div  class="form-group">
<%=form.hidden_field :user_id,  value:current_user.id %>
</div>
 <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">	<%= form.submit %>

</button>
<% end %>
</div>
<div class="col-md-3">
  </div>
  <div>
</div>
