 
<style>
.w-11 {
  width: 12.75rem;
}
</style>
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-11 h-8 mr-2" src="https://www.easypay.pt/wp-content/uploads/2021/08/easypay-1.svg" alt="logo">
                
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1  style="text-align:center;" class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                 Forgot password
              </h1>
 
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "users/shared/error_messages", resource: resource %>                <div class="field">
                  <%= f.label :email%><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"%>
                </div>
              
                
              
                
              <br>
                <div class="actions">
                <button type="submit" style="background-color: blue;" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">    <%= f.submit "Send me reset password instructions" %>
                </button>

                </div>
                <br>
                <div class="inline-flex">
              <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">
                    <%= link_to "Log in", new_session_path(resource_name) %>
               </button>
             <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
                    <%= link_to "Sign up", new_registration_path(resource_name) %>
             </button>
           </div>
               
               <div class="flex items-center justify-between">
             
              
          </div>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          <br>
               <% end %>
              
          </p>
          </div>
      </div>
  </div>
</section>