<style>
.headingtable{
    background-color:"#f9f7f7";
     height:50px;
     font-size: 27px;
     color: grey;
  }
</style>
<p style="color: green"><%= notice %></p>
<br>
<div class="row">
<div class="col-md-10">
</div>
<div class="col-md-2">
<%= button_to 'Add new record',new_education_path , class:"text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2", :method => :get %>

</div>
</div>

<h5 class="headingtable">Education</h5>
<table class="table">
<thead>
<tr>
<th scope="col"></th>
<th scope="col">Title</th>
<th scope="col">Major</th>
<th scope="col">Institute</th>
<th scope="col">Date</th>
 <th scope="col">Action </th>
</tr>
</thead>
    <% @educations.each_with_index do |education, index | %>
   <tbody>
      <tr>
      <th scope="row"><%= index +1 %></th>
      <td><%= education.title %></td>
      <td><%= education.major %></td>
      <td><%= education.institute %></td>
      <td><%= education.date %></td>
       
      <td>
      <%= link_to raw("<i class=\"material-icons\">edit</i>"), edit_education_path(education.id) %> 
  
       <%= link_to raw("<i class=\"material-icons\">delete</i>"), education_path(education.id), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
      } %> 
     
      </td>
      </tr>
      </tbody>
 <% end %>
</table>