<div class="container">
	<%= form_with model: @utility_bill do |form| %>
<div>
	<%= form.label :consumer_id %>
	<%= form.text_field :consumer_id %>
</div>
<div>
	<%= form.collection_select: (:utility_bill,:category,UtilityBillCategory.all, :id, :name)%>
</div>
 <div>
	<%= form.label :expected_reading_date %>
	<%=form.number_field   :expected_reading_date %>
</div>
<div>
	<%= form.label :expected_issuance_date %>
	<%=form.number_field   :expected_reading_date %>
</div>
<div>
	<%= form.label :expected_issuance_date %>
	<%=form.number_field   :expected_due_date %>
</div>


<% end %>
	
</div>
