<div class="container">
	<%= form_with model: @utility_bills_path do |form| %>
<div>
	<%= form.label :consumer_id %>
	<%= form.text_field :consumer_id,class:"form-control"%>
</div>
<div>
	<%= form.label :Category %>
	<%= form.collection_select :category, UtilityBillCategory.all , :id, :name, prompt: true, class:"form-control" %>
</div>
<div>
	<%= form.label :Company%>
	<%= form.collection_select :company, Company.all , :id, :name, prompt: true, class:"form-control" %>
</div>
 <div>
	<%= form.label :expected_reading_date %>
	<%=form.number_field   :expected_reading_date,class:"form-control"%>
</div>
<div>
	<%= form.label :expected_issuance_date %>
	<%=form.number_field   :expected_reading_date,class:"form-control" %>
</div>
<div>
	<%= form.label :expected_due_date %>
	<%=form.number_field   :expected_due_date,class:"form-control" %>
</div>

<div>
	<%= form.submit class:"btn btn-dark", value:"Add" %>
</div> 
<% end %>
	
</div>
<%= link_to'Back to home', bill_index_path %>